.gear-container {
    background-color: #000000;
    align-items: center;
    height: 2000px;
  }
  .gear-heading {
    width: 100%;
  }
  .gear-power {
    /* font-family: "FontRegular";
    color: transparent;
    margin: 0;
    text-align: center;
    font-size: calc(25vw + 15px);
    line-height: 1;
    width: 100%;
    background: linear-gradient(
      to bottom,
      #1E1E1E 0%,
      #1E1E1E 50%,
      transparent 100%
    );
    -webkit-background-clip: text;
    background-clip: text; */
    width: 100%; /* Adjust width */
    height: 56%; /* Adjust height */
    background-image: url("./src/assets/vectors/Power.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 15%;
  }
  .gear2 {
    display: flex;
    justify-content: center;
  }
  .gear-pic {
    width: 50%;
  }
  .gear-text {
    text-align: center;
  }
  .gear-para {

    height: 100vh;
    color: #FFDD33;
    margin: 0;
    padding-top: 6%;
    font-family: "FontRegular";
  }
  .font-watt {
    font-family: "FontLight";
    font-size: 70px;
  }
  .kilowatt-space {
    font-size: 40px;
    font-family: "FontLight";
  }
  .para-tech {
    position: absolute;
    top: -70%;
    font-family: "JetBrains Mono", monospace;
    color: #FFDD33;
  }
  .gear-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 1rem;
    padding-top: 10%;
  }
  .gear-watt,
  .gear-torque {
    font-size: 40px;
    color: white;
    margin: 0;
    text-align: center;
    line-height: 1.4;
    font-family: "JetBrains Mono", monospace;
  }
  .gear1-pic {
    width: 25%;
    height: auto;
  }